@using SearchSaver.ViewModels
@model AddSearchViewModel;

<div class="text-center">
    <h1 class="display-4">SEARCH</h1>
    <form method='post' action='/search'>
        <input type='text' name='product' />
        <input type='submit' name="submit" value='Find The Best Price!' />
    </form>
</div>

