@using SearchSaver.ViewModels;
@model AddSearchViewModel;
<div class="container body-content">
    <h1>Results for Searched Product: </h1>
    <partial name="/Views/Shared/_ResultsListPartial.cshtml" />
</div>

