@using SearchSaver.ViewModels
@model AddSearchViewModel;

@if (ViewBag.searchedProduct == null || ViewBag.searchedProduct == "")
{
    <h1>Search Empty</h1>
}
else
{
    if (ViewBag.searchedProduct.ToLower() == "tv")
    {
        <h1>Displaying results for @ViewBag.searchedProduct</h1>

        <a class="nav-link text-dark" asp-area="" asp-controller="TV" asp-action="Index">Avalible Products</a>

    }
    else
    {
        <h1>The item you have searched for has not been added to our system yet! Thank you for being paitent!</h1>
    }
}
