@using SearchSaver.ViewModels;
@model AddProductViewModel;

<h1>Add New Products</h1>

<form method="post">
    <div asp-controller="Products" asp-action="Add" class="form-group">
        <label asp-for="Store"></label>
        <input asp-for="Store" />
        <span asp-validation-for="Store"></span>
    </div>
    <div class="form-group">
        <label asp-for="Brand"></label>
        <input asp-for="Brand" />
        <span asp-validation-for="Brand"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <input asp-for="Category" />
        <span asp-validation-for="Category"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" />
        <span asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <input type="submit" value="Add Product" />
</form>