<h1>Avalible TVs</h1>

@if (ViewBag.tvs.Count == 0)
{
    <p>No TV's yet.</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Store
            </th>
            <th>
                Brand
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
        </tr>
        @foreach (var tv in ViewBag.tvs)
        {
            <tr>
                <td>@tv.Store</td>
                <td>@tv.Brand</td>
                <td>$@tv.Price</td>
                <td>@tv.Description</td>
            </tr>
        }
    </table>
}
<p>
    <a asp-controller="TV" asp-action="Add">Add TV</a>
</p>
<p>
    <a asp-controller="TV" asp-action="Delete">Delete TV</a>
</p>